[submodule "overlays/Vitis_Libraries"]
	path = overlays/Vitis_Libraries
	url = https://github.com/Xilinx/Vitis_Libraries.git
[submodule "overlays/Vitis-AI"]
	path = overlays/Vitis-AI
	url = https://github.com/Xilinx/Vitis-AI.git
[submodule "platforms/bdf"]
	path = platforms/bdf
	url = https://github.com/Avnet/bdf
